## Functions

In [1]:
#!pip3 install rich

import pprint

def print_(cursor, mode="pprint"):
    """
    Print collection.
    """
    if isinstance(cursor, pymongo.cursor.Cursor):
        obj = list(cursor)
    else:
        obj = cursor
    if mode in ("json", "json_color"):
        import json

        parsed = json.loads(json.dumps(obj))
        if mode == "json":
            print(json.dumps(parsed, indent=2))
        else:
            import rich

            rich.print_json(json.dumps(parsed, indent=2))
    elif mode == "pprint":
        pprint.pprint(obj)
    else:
        raise ValueError(f"Invalid mode='{mode}'")

# Connect to DB

In [44]:
import pymongo
from bson.objectid import ObjectId

# Connect to MongoDB instance.
client = pymongo.MongoClient("localhost", 27017)

# Create a db.
db = client["book"]
print("db=", db)
print("type(db)=", type(db))

db= Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'book')
type(db)= <class 'pymongo.database.Database'>

In [54]:
# Show all the collections.
print("collections=", db.list_collection_names())

# Clean all collections.
for db_name in db.list_collection_names():
    print("Dropping %s" % db_name)
    db[db_name].drop()

print("collections=", db.list_collection_names())

collections= ['towns']
Dropping towns
collections= []

# `Towns` collection

## Insert

In [55]:
dict_ = {
    "name": "New York",
    "population": 22200000,
    "lastCensus": "2022-11-01",
    "famousFor": ["the MOMA", "food", "Derek Jeter"],
    "mayor": {"name": "Bill de Blasio", "party": "D"},
}
print_(dict_)

# Inserting an object in a DB creates a DB.
val = db.towns.insert_one(dict_)
print("val=", val)
print("obj_id=", val.inserted_id)

{'famousFor': ['the MOMA', 'food', 'Derek Jeter'],
 'lastCensus': '2022-11-01',
 'mayor': {'name': 'Bill de Blasio', 'party': 'D'},
 'name': 'New York',
 'population': 22200000}
val= <pymongo.results.InsertOneResult object at 0x7f22246dd820>
obj_id= 63fb625c96c3a56b758fd461

In [48]:
# Show all the collections.
db.list_collection_names()

['towns']

In [56]:
# _id is like the primary key.
for obj in db.towns.find():
    print_(obj, mode="pprint")

{'_id': ObjectId('63fb625c96c3a56b758fd461'),
 'famousFor': ['the MOMA', 'food', 'Derek Jeter'],
 'lastCensus': '2022-11-01',
 'mayor': {'name': 'Bill de Blasio', 'party': 'D'},
 'name': 'New York',
 'population': 22200000}

In [57]:
# Insert more data in the collection.
def insert_city(name, population, lastCensus, famousFor, mayor):
    db.towns.insert_one(
        {
            "name": name,
            "population": population,
            "lastCensus": lastCensus,
            "famousFor": famousFor,
            "mayor": mayor,
        }
    )


insert_city(
    "Punxsutawney",
    6200,
    "2016-01-31",
    ["Punxsutawney Phil"],
    {"name": "Richard Alexander"},
)

insert_city(
    "Portland",
    582000,
    "2016-09-20",
    ["beer", "food", "Portlandia"],
    {"name": "Ted Wheeler", "party": "D"},
)

# Note that `mayor` field doesn't have a strict schema.

In [58]:
# Print all the documents in db["towns"].
for obj in db.towns.find():
    print_(obj, mode="pprint")

{'_id': ObjectId('63fb625c96c3a56b758fd461'),
 'famousFor': ['the MOMA', 'food', 'Derek Jeter'],
 'lastCensus': '2022-11-01',
 'mayor': {'name': 'Bill de Blasio', 'party': 'D'},
 'name': 'New York',
 'population': 22200000}
{'_id': ObjectId('63fb626596c3a56b758fd462'),
 'famousFor': ['Punxsutawney Phil'],
 'lastCensus': '2016-01-31',
 'mayor': {'name': 'Richard Alexander'},
 'name': 'Punxsutawney',
 'population': 6200}
{'_id': ObjectId('63fb626596c3a56b758fd463'),
 'famousFor': ['beer', 'food', 'Portlandia'],
 'lastCensus': '2016-09-20',
 'mayor': {'name': 'Ted Wheeler', 'party': 'D'},
 'name': 'Portland',
 'population': 582000}

## Query

In [59]:
# Find by ObjectId.
# db.towns.find_one({"_id": ObjectId("6368352a657571ee34691dd9")})
db.towns.find_one({"_id": val.inserted_id})

{'_id': ObjectId('63fb625c96c3a56b758fd461'),
 'name': 'New York',
 'population': 22200000,
 'lastCensus': '2022-11-01',
 'famousFor': ['the MOMA', 'food', 'Derek Jeter'],
 'mayor': {'name': 'Bill de Blasio', 'party': 'D'}}

In [10]:
# Retrieve only the field `name`.
object_id = ObjectId(str(val.inserted_id))
db.towns.find_one({"_id": object_id}, {"name": 1})

{'_id': ObjectId('63fb619796c3a56b758fd458'), 'name': 'New York'}

In [11]:
# Retrieve all fields excluding `name`.
db.towns.find_one({"_id": ObjectId(str(val.inserted_id))}, {"name": 0})

{'_id': ObjectId('63fb619796c3a56b758fd458'),
 'population': 22200000,
 'lastCensus': '2022-11-01',
 'famousFor': ['the MOMA', 'food', 'Derek Jeter'],
 'mayor': {'name': 'Bill de Blasio', 'party': 'D'}}

In [12]:
# Find all towns with name starting with P.
# This is going to do a table scan.
print_(db.towns.find({"name": {"$regex": r"^P"}}))

[{'_id': ObjectId('63fb619796c3a56b758fd459'),
  'famousFor': ['Punxsutawney Phil'],
  'lastCensus': '2016-01-31',
  'mayor': {'name': 'Richard Alexander'},
  'name': 'Punxsutawney',
  'population': 6200},
 {'_id': ObjectId('63fb619796c3a56b758fd45a'),
  'famousFor': ['beer', 'food', 'Portlandia'],
  'lastCensus': '2016-09-20',
  'mayor': {'name': 'Ted Wheeler', 'party': 'D'},
  'name': 'Portland',
  'population': 582000}]

In [13]:
# Find all towns with name starting with P, but print only name.
print_(db.towns.find({"name": {"$regex": r"^P"}}, {"_id": 0, "name": 1}))

[{'name': 'Punxsutawney'}, {'name': 'Portland'}]

In [14]:
# Find all towns with name that begins with P and have population less than 100,000.
print_(db.towns.find({"name": {"$regex": r"^P"}, "population": {"$lt": 100000}}))

[{'_id': ObjectId('63fb619796c3a56b758fd459'),
  'famousFor': ['Punxsutawney Phil'],
  'lastCensus': '2016-01-31',
  'mayor': {'name': 'Richard Alexander'},
  'name': 'Punxsutawney',
  'population': 6200}]

In [15]:
# Projection.
print_(db.towns.find({"famousFor": "food"}, {"_id": 0, "name": 1, "famousFor": 1}))

[{'famousFor': ['the MOMA', 'food', 'Derek Jeter'], 'name': 'New York'},
 {'famousFor': ['beer', 'food', 'Portlandia'], 'name': 'Portland'}]

In [16]:
# Query for matching values.
print_(
    db.towns.find(
        {"famousFor": {"$all": ["food", "beer"]}}, {"_id": 0, "name": 1, "famousFor": 1}
    )
)

[{'famousFor': ['beer', 'food', 'Portlandia'], 'name': 'Portland'}]

In [17]:
# Query for lack of matching values.
print_(
    db.towns.find(
        {"famousFor": {"$nin": ["food", "beer"]}}, {"_id": 0, "name": 1, "famousFor": 1}
    )
)

[{'famousFor': ['Punxsutawney Phil'], 'name': 'Punxsutawney'}]

In [18]:
# Find results with nested search criteria, e.g., mayor.party = "D".
print_(db.towns.find({"mayor.party": "D"}))

[{'_id': ObjectId('63fb619796c3a56b758fd458'),
  'famousFor': ['the MOMA', 'food', 'Derek Jeter'],
  'lastCensus': '2022-11-01',
  'mayor': {'name': 'Bill de Blasio', 'party': 'D'},
  'name': 'New York',
  'population': 22200000},
 {'_id': ObjectId('63fb619796c3a56b758fd45a'),
  'famousFor': ['beer', 'food', 'Portlandia'],
  'lastCensus': '2016-09-20',
  'mayor': {'name': 'Ted Wheeler', 'party': 'D'},
  'name': 'Portland',
  'population': 582000}]

## Updating

In [19]:
print_(db.towns.find())

[{'_id': ObjectId('63fb619796c3a56b758fd458'),
  'famousFor': ['the MOMA', 'food', 'Derek Jeter'],
  'lastCensus': '2022-11-01',
  'mayor': {'name': 'Bill de Blasio', 'party': 'D'},
  'name': 'New York',
  'population': 22200000},
 {'_id': ObjectId('63fb619796c3a56b758fd459'),
  'famousFor': ['Punxsutawney Phil'],
  'lastCensus': '2016-01-31',
  'mayor': {'name': 'Richard Alexander'},
  'name': 'Punxsutawney',
  'population': 6200},
 {'_id': ObjectId('63fb619796c3a56b758fd45a'),
  'famousFor': ['beer', 'food', 'Portlandia'],
  'lastCensus': '2016-09-20',
  'mayor': {'name': 'Ted Wheeler', 'party': 'D'},
  'name': 'Portland',
  'population': 582000}]

In [20]:
object_id_for_Portland = str(db.towns.find_one({"name": "Portland"})["_id"])
print("object_id_for_Portland=", object_id_for_Portland)

object_id_for_Portland= 63fb619796c3a56b758fd45a

In [21]:
# There are multiple cities called Portland in US (e.g., in Oregon and in Maine).
db.towns.update_one(
    {"_id": ObjectId(object_id_for_Portland)}, {"$set": {"state": "OR"}}
)

print_(db.towns.find({"_id": ObjectId(object_id_for_Portland)}))

# Note that we need to specify $set.
# Mongo thinks in terms of documents and not attributes. So if you
# specify:
# db.towns.update_one({"_id": ObjectId("63696c28657571ee34691de3")},
#                     {"state": "OR"})
# the entire document will be replaced with the document `{"state": "OR"}`

[{'_id': ObjectId('63fb619796c3a56b758fd45a'),
  'famousFor': ['beer', 'food', 'Portlandia'],
  'lastCensus': '2016-09-20',
  'mayor': {'name': 'Ted Wheeler', 'party': 'D'},
  'name': 'Portland',
  'population': 582000,
  'state': 'OR'}]

In [22]:
# Increment the population.
db.towns.update_one(
    {"_id": ObjectId(object_id_for_Portland)}, {"$inc": {"population": 1000}}
)
print_(db.towns.find({"_id": ObjectId(object_id_for_Portland)}))

[{'_id': ObjectId('63fb619796c3a56b758fd45a'),
  'famousFor': ['beer', 'food', 'Portlandia'],
  'lastCensus': '2016-09-20',
  'mayor': {'name': 'Ted Wheeler', 'party': 'D'},
  'name': 'Portland',
  'population': 583000,
  'state': 'OR'}]

# `countries` collection

## Insert

In [23]:
db.countries.drop()

# Note:
# 1) we define the _id directly
# 2) the schema is not strict
db.countries.insert_one(
    {
        "_id": "us",
        "name": "United States",
        "exports": {"foods": [{"name": "bacon", "tasty": True}, {"name": "burgers"}]},
    }
)

db.countries.insert_one(
    {
        "_id": "ca",
        "name": "Canada",
        "exports": {
            "foods": [
                {"name": "bacon", "tasty": False},
                {"name": "syrup", "tasty": True},
            ]
        },
    }
)

db.countries.insert_one(
    {
        "_id": "mx",
        "name": "Mexico",
        "exports": {"foods": [{"name": "salsa", "tasty": True, "condiment": True}]},
    }
)

assert db.countries.count_documents({}) == 3

In [24]:
for obj in db["countries"].find():
    print_(obj)

{'_id': 'us',
 'exports': {'foods': [{'name': 'bacon', 'tasty': True}, {'name': 'burgers'}]},
 'name': 'United States'}
{'_id': 'ca',
 'exports': {'foods': [{'name': 'bacon', 'tasty': False},
                       {'name': 'syrup', 'tasty': True}]},
 'name': 'Canada'}
{'_id': 'mx',
 'exports': {'foods': [{'condiment': True, 'name': 'salsa', 'tasty': True}]},
 'name': 'Mexico'}

## Query

In [25]:
# Find the country that exports tasty bacon.

# This doesn't return what we want, since we want the AND of the condition and not OR.
print_(
    db.countries.find(
        {
            "exports.foods.name": "bacon",
            "exports.foods.tasty": True,
        },
        {"_id": 0, "name": 1},
    )
)

[{'name': 'United States'}, {'name': 'Canada'}]

In [26]:
# Using $elemMatch.
print_(
    db.countries.find(
        {
            "exports.foods": {
                "$elemMatch": {
                    "name": "bacon",
                    "tasty": True,
                }
            }
        },
        {"_id": 0, "name": 1},
    )
)

[{'name': 'United States'}]

In [27]:
# This performs an AND.
print_(db.countries.find({"_id": "mx", "name": "United States"}))

# This performs an OR.
print_(
    db.countries.find({"$or": [{"_id": "mx"}, {"name": "United States"}]}, {"_id": 1})
)

[]
[{'_id': 'us'}, {'_id': 'mx'}]

## References

In [28]:
object_id_for_Pun = ObjectId(str(db.towns.find_one({"name": "Punxsutawney"})["_id"]))
print("object_id_for_Pun=", object_id_for_Pun)

object_id_for_Pun= 63fb619796c3a56b758fd459

In [29]:
# Mongo is not built to perform joins.
# It is useful to have documents reference each other.
db.towns.update_one(
    {"_id": object_id_for_Pun},
    {"$set": {"country": {"$ref": "countries", "$id": "us"}}},
)

print_(db.towns.find_one({"_id": object_id_for_Pun}))

{'_id': ObjectId('63fb619796c3a56b758fd459'),
 'country': DBRef('countries', 'us'),
 'famousFor': ['Punxsutawney Phil'],
 'lastCensus': '2016-01-31',
 'mayor': {'name': 'Richard Alexander'},
 'name': 'Punxsutawney',
 'population': 6200}

In [30]:
var = db.towns.find_one({"_id": object_id_for_Pun})
print("var=", var)
print('var["country"]=', var["country"])
# Dereference.
print(var["country"].id)

var= {'_id': ObjectId('63fb619796c3a56b758fd459'), 'name': 'Punxsutawney', 'population': 6200, 'lastCensus': '2016-01-31', 'famousFor': ['Punxsutawney Phil'], 'mayor': {'name': 'Richard Alexander'}, 'country': DBRef('countries', 'us')}
var["country"]= DBRef('countries', 'us')
us

## Delete

In [31]:
# Find all contries where the bacon is not tasty.
bad_bacon = {
    "exports.foods": {
        "$elemMatch": {
            "name": "bacon",
            "tasty": False,
        }
    }
}
print_(db.countries.find(bad_bacon))

[{'_id': 'ca',
  'exports': {'foods': [{'name': 'bacon', 'tasty': False},
                        {'name': 'syrup', 'tasty': True}]},
  'name': 'Canada'}]

In [32]:
print_(db.countries.find())

[{'_id': 'us',
  'exports': {'foods': [{'name': 'bacon', 'tasty': True}, {'name': 'burgers'}]},
  'name': 'United States'},
 {'_id': 'ca',
  'exports': {'foods': [{'name': 'bacon', 'tasty': False},
                        {'name': 'syrup', 'tasty': True}]},
  'name': 'Canada'},
 {'_id': 'mx',
  'exports': {'foods': [{'condiment': True, 'name': 'salsa', 'tasty': True}]},
  'name': 'Mexico'}]

In [33]:
print("count=", db.countries.count_documents({}))
db.countries.delete_many(bad_bacon)
print("count=", db.countries.count_documents({}))

count= 3
count= 2

## Query with code

# Indexing

In [34]:
import random

random.seed(1)


def populatePhones(area, start, stop):
    for i in range(start, stop):
        country = 1 + random.randint(1, 8)
        num = int(country * 1e10 + area * 1e7 + i)
        # +4 800-5550000
        full_number = "+%s %s-%s" % (country, area, i)
        # print(num, full_number)
        # assert 0
        db.phones.insert_one(
            {
                "_id": num,
                "components": {
                    "country": country,
                    "area": area,
                    "number": i,
                },
                "display": full_number,
            }
        )


# Generate 100,000 phone numbers (it may take a while), between 1-800-555-0000 and 1-800-565-0000.
db.phones.drop()
populatePhones(800, 5550000, 5650000)

In [35]:
print(db.phones.count_documents({}))

100000

In [36]:
print_(db.phones.find().limit(2))
print_(db.phones.find().limit(2))

[{'_id': 48005550000,
  'components': {'area': 800, 'country': 4, 'number': 5550000},
  'display': '+4 800-5550000'},
 {'_id': 38005550001,
  'components': {'area': 800, 'country': 3, 'number': 5550001},
  'display': '+3 800-5550001'}]
[{'_id': 48005550000,
  'components': {'area': 800, 'country': 4, 'number': 5550000},
  'display': '+4 800-5550000'},
 {'_id': 38005550001,
  'components': {'area': 800, 'country': 3, 'number': 5550001},
  'display': '+3 800-5550001'}]

In [37]:
# Print information about the indices.
for collection in db.list_collection_names():
    print("# collection=", collection)
    print_(db[collection].index_information())

# collection= phones
{'_id_': {'key': [('_id', 1)], 'v': 2}}
# collection= towns
{'_id_': {'key': [('_id', 1)], 'v': 2}}
# collection= countries
{'_id_': {'key': [('_id', 1)], 'v': 2}}

In [38]:
print_(db.phones.find_one({"display": "+4 800-5550000"}))

{'_id': 48005550000,
 'components': {'area': 800, 'country': 4, 'number': 5550000},
 'display': '+4 800-5550000'}

In [39]:
# db.phones.find({"display": "+4 800-5550000"}).explain()
db.phones.find({"display": "+4 800-5550000"}).explain()["executionStats"][
    "executionTimeMillis"
]

65

In [40]:
# Create an indesx on `display`.
db.phones.create_index([("display", pymongo.ASCENDING)], unique=True, dropDups=True)

print_(db["phones"].index_information())

{'_id_': {'key': [('_id', 1)], 'v': 2},
 'display_1': {'key': [('display', 1)], 'unique': True, 'v': 2}}

In [41]:
# Show that the query now it's very fast.
print_(
    db.phones.find({"display": "+4 800-5550000"}).explain()["executionStats"][
        "executionTimeMillis"
    ]
)

2

# Aggregated queries.

In [42]:
db.phones.count_documents({"components.number": {"$gt": 5599999}})

50000

In [43]:
db.phones.distinct('components.number', {"components.number": {"$gt": 5599999}})

[5600000,
 5600001,
 5600002,
 5600003,
 5600004,
 5600005,
 5600006,
 5600007,
 5600008,
 5600009,
 5600010,
 5600011,
 5600012,
 5600013,
 5600014,
 5600015,
 5600016,
 5600017,
 5600018,
 5600019,
 5600020,
 5600021,
 5600022,
 5600023,
 5600024,
 5600025,
 5600026,
 5600027,
 5600028,
 5600029,
 5600030,
 5600031,
 5600032,
 5600033,
 5600034,
 5600035,
 5600036,
 5600037,
 5600038,
 5600039,
 5600040,
 5600041,
 5600042,
 5600043,
 5600044,
 5600045,
 5600046,
 5600047,
 5600048,
 5600049,
 5600050,
 5600051,
 5600052,
 5600053,
 5600054,
 5600055,
 5600056,
 5600057,
 5600058,
 5600059,
 5600060,
 5600061,
 5600062,
 5600063,
 5600064,
 5600065,
 5600066,
 5600067,
 5600068,
 5600069,
 5600070,
 5600071,
 5600072,
 5600073,
 5600074,
 5600075,
 5600076,
 5600077,
 5600078,
 5600079,
 5600080,
 5600081,
 5600082,
 5600083,
 5600084,
 5600085,
 5600086,
 5600087,
 5600088,
 5600089,
 5600090,
 5600091,
 5600092,
 5600093,
 5600094,
 5600095,
 5600096,
 5600097,
 5600098,
 5600099,
 5600100,
 5600101,
 5600102,
 5600103,
 5600104,
 5600105,
 5600106,
 5600107,
 5600108,
 5600109,
 5600110,
 5600111,
 5600112,
 5600113,
 5600114,
 5600115,
 5600116,
 5600117,
 5600118,
 5600119,
 5600120,
 5600121,
 5600122,
 5600123,
 5600124,
 5600125,
 5600126,
 5600127,
 5600128,
 5600129,
 5600130,
 5600131,
 5600132,
 5600133,
 5600134,
 5600135,
 5600136,
 5600137,
 5600138,
 5600139,
 5600140,
 5600141,
 5600142,
 5600143,
 5600144,
 5600145,
 5600146,
 5600147,
 5600148,
 5600149,
 5600150,
 5600151,
 5600152,
 5600153,
 5600154,
 5600155,
 5600156,
 5600157,
 5600158,
 5600159,
 5600160,
 5600161,
 5600162,
 5600163,
 5600164,
 5600165,
 5600166,
 5600167,
 5600168,
 5600169,
 5600170,
 5600171,
 5600172,
 5600173,
 5600174,
 5600175,
 5600176,
 5600177,
 5600178,
 5600179,
 5600180,
 5600181,
 5600182,
 5600183,
 5600184,
 5600185,
 5600186,
 5600187,
 5600188,
 5600189,
 5600190,
 5600191,
 5600192,
 5600193,
 5600194,
 5600195,
 5600196,
 5600197,
 5600198,
 5600199,
 5600200,
 5600201,
 5600202,
 5600203,
 5600204,
 5600205,
 5600206,
 5600207,
 5600208,
 5600209,
 5600210,
 5600211,
 5600212,
 5600213,
 5600214,
 5600215,
 5600216,
 5600217,
 5600218,
 5600219,
 5600220,
 5600221,
 5600222,
 5600223,
 5600224,
 5600225,
 5600226,
 5600227,
 5600228,
 5600229,
 5600230,
 5600231,
 5600232,
 5600233,
 5600234,
 5600235,
 5600236,
 5600237,
 5600238,
 5600239,
 5600240,
 5600241,
 5600242,
 5600243,
 5600244,
 5600245,
 5600246,
 5600247,
 5600248,
 5600249,
 5600250,
 5600251,
 5600252,
 5600253,
 5600254,
 5600255,
 5600256,
 5600257,
 5600258,
 5600259,
 5600260,
 5600261,
 5600262,
 5600263,
 5600264,
 5600265,
 5600266,
 5600267,
 5600268,
 5600269,
 5600270,
 5600271,
 5600272,
 5600273,
 5600274,
 5600275,
 5600276,
 5600277,
 5600278,
 5600279,
 5600280,
 5600281,
 5600282,
 5600283,
 5600284,
 5600285,
 5600286,
 5600287,
 5600288,
 5600289,
 5600290,
 5600291,
 5600292,
 5600293,
 5600294,
 5600295,
 5600296,
 5600297,
 5600298,
 5600299,
 5600300,
 5600301,
 5600302,
 5600303,
 5600304,
 5600305,
 5600306,
 5600307,
 5600308,
 5600309,
 5600310,
 5600311,
 5600312,
 5600313,
 5600314,
 5600315,
 5600316,
 5600317,
 5600318,
 5600319,
 5600320,
 5600321,
 5600322,
 5600323,
 5600324,
 5600325,
 5600326,
 5600327,
 5600328,
 5600329,
 5600330,
 5600331,
 5600332,
 5600333,
 5600334,
 5600335,
 5600336,
 5600337,
 5600338,
 5600339,
 5600340,
 5600341,
 5600342,
 5600343,
 5600344,
 5600345,
 5600346,
 5600347,
 5600348,
 5600349,
 5600350,
 5600351,
 5600352,
 5600353,
 5600354,
 5600355,
 5600356,
 5600357,
 5600358,
 5600359,
 5600360,
 5600361,
 5600362,
 5600363,
 5600364,
 5600365,
 5600366,
 5600367,
 5600368,
 5600369,
 5600370,
 5600371,
 5600372,
 5600373,
 5600374,
 5600375,
 5600376,
 5600377,
 5600378,
 5600379,
 5600380,
 5600381,
 5600382,
 5600383,
 5600384,
 5600385,
 5600386,
 5600387,
 5600388,
 5600389,
 5600390,
 5600391,
 5600392,
 5600393,
 5600394,
 5600395,
 5600396,
 5600397,
 5600398,
 5600399,
 5600400,
 5600401,
 5600402,
 5600403,
 5600404,
 5600405,
 5600406,
 5600407,
 5600408,
 5600409,
 5600410,
 5600411,
 5600412,
 5600413,
 5600414,
 5600415,
 5600416,
 5600417,
 5600418,
 5600419,
 5600420,
 5600421,
 5600422,
 5600423,
 5600424,
 5600425,
 5600426,
 5600427,
 5600428,
 5600429,
 5600430,
 5600431,
 5600432,
 5600433,
 5600434,
 5600435,
 5600436,
 5600437,
 5600438,
 5600439,
 5600440,
 5600441,
 5600442,
 5600443,
 5600444,
 5600445,
 5600446,
 5600447,
 5600448,
 5600449,
 5600450,
 5600451,
 5600452,
 5600453,
 5600454,
 5600455,
 5600456,
 5600457,
 5600458,
 5600459,
 5600460,
 5600461,
 5600462,
 5600463,
 5600464,
 5600465,
 5600466,
 5600467,
 5600468,
 5600469,
 5600470,
 5600471,
 5600472,
 5600473,
 5600474,
 5600475,
 5600476,
 5600477,
 5600478,
 5600479,
 5600480,
 5600481,
 5600482,
 5600483,
 5600484,
 5600485,
 5600486,
 5600487,
 5600488,
 5600489,
 5600490,
 5600491,
 5600492,
 5600493,
 5600494,
 5600495,
 5600496,
 5600497,
 5600498,
 5600499,
 5600500,
 5600501,
 5600502,
 5600503,
 5600504,
 5600505,
 5600506,
 5600507,
 5600508,
 5600509,
 5600510,
 5600511,
 5600512,
 5600513,
 5600514,
 5600515,
 5600516,
 5600517,
 5600518,
 5600519,
 5600520,
 5600521,
 5600522,
 5600523,
 5600524,
 5600525,
 5600526,
 5600527,
 5600528,
 5600529,
 5600530,
 5600531,
 5600532,
 5600533,
 5600534,
 5600535,
 5600536,
 5600537,
 5600538,
 5600539,
 5600540,
 5600541,
 5600542,
 5600543,
 5600544,
 5600545,
 5600546,
 5600547,
 5600548,
 5600549,
 5600550,
 5600551,
 5600552,
 5600553,
 5600554,
 5600555,
 5600556,
 5600557,
 5600558,
 5600559,
 5600560,
 5600561,
 5600562,
 5600563,
 5600564,
 5600565,
 5600566,
 5600567,
 5600568,
 5600569,
 5600570,
 5600571,
 5600572,
 5600573,
 5600574,
 5600575,
 5600576,
 5600577,
 5600578,
 5600579,
 5600580,
 5600581,
 5600582,
 5600583,
 5600584,
 5600585,
 5600586,
 5600587,
 5600588,
 5600589,
 5600590,
 5600591,
 5600592,
 5600593,
 5600594,
 5600595,
 5600596,
 5600597,
 5600598,
 5600599,
 5600600,
 5600601,
 5600602,
 5600603,
 5600604,
 5600605,
 5600606,
 5600607,
 5600608,
 5600609,
 5600610,
 5600611,
 5600612,
 5600613,
 5600614,
 5600615,
 5600616,
 5600617,
 5600618,
 5600619,
 5600620,
 5600621,
 5600622,
 5600623,
 5600624,
 5600625,
 5600626,
 5600627,
 5600628,
 5600629,
 5600630,
 5600631,
 5600632,
 5600633,
 5600634,
 5600635,
 5600636,
 5600637,
 5600638,
 5600639,
 5600640,
 5600641,
 5600642,
 5600643,
 5600644,
 5600645,
 5600646,
 5600647,
 5600648,
 5600649,
 5600650,
 5600651,
 5600652,
 5600653,
 5600654,
 5600655,
 5600656,
 5600657,
 5600658,
 5600659,
 5600660,
 5600661,
 5600662,
 5600663,
 5600664,
 5600665,
 5600666,
 5600667,
 5600668,
 5600669,
 5600670,
 5600671,
 5600672,
 5600673,
 5600674,
 5600675,
 5600676,
 5600677,
 5600678,
 5600679,
 5600680,
 5600681,
 5600682,
 5600683,
 5600684,
 5600685,
 5600686,
 5600687,
 5600688,
 5600689,
 5600690,
 5600691,
 5600692,
 5600693,
 5600694,
 5600695,
 5600696,
 5600697,
 5600698,
 5600699,
 5600700,
 5600701,
 5600702,
 5600703,
 5600704,
 5600705,
 5600706,
 5600707,
 5600708,
 5600709,
 5600710,
 5600711,
 5600712,
 5600713,
 5600714,
 5600715,
 5600716,
 5600717,
 5600718,
 5600719,
 5600720,
 5600721,
 5600722,
 5600723,
 5600724,
 5600725,
 5600726,
 5600727,
 5600728,
 5600729,
 5600730,
 5600731,
 5600732,
 5600733,
 5600734,
 5600735,
 5600736,
 5600737,
 5600738,
 5600739,
 5600740,
 5600741,
 5600742,
 5600743,
 5600744,
 5600745,
 5600746,
 5600747,
 5600748,
 5600749,
 5600750,
 5600751,
 5600752,
 5600753,
 5600754,
 5600755,
 5600756,
 5600757,
 5600758,
 5600759,
 5600760,
 5600761,
 5600762,
 5600763,
 5600764,
 5600765,
 5600766,
 5600767,
 5600768,
 5600769,
 5600770,
 5600771,
 5600772,
 5600773,
 5600774,
 5600775,
 5600776,
 5600777,
 5600778,
 5600779,
 5600780,
 5600781,
 5600782,
 5600783,
 5600784,
 5600785,
 5600786,
 5600787,
 5600788,
 5600789,
 5600790,
 5600791,
 5600792,
 5600793,
 5600794,
 5600795,
 5600796,
 5600797,
 5600798,
 5600799,
 5600800,
 5600801,
 5600802,
 5600803,
 5600804,
 5600805,
 5600806,
 5600807,
 5600808,
 5600809,
 5600810,
 5600811,
 5600812,
 5600813,
 5600814,
 5600815,
 5600816,
 5600817,
 5600818,
 5600819,
 5600820,
 5600821,
 5600822,
 5600823,
 5600824,
 5600825,
 5600826,
 5600827,
 5600828,
 5600829,
 5600830,
 5600831,
 5600832,
 5600833,
 5600834,
 5600835,
 5600836,
 5600837,
 5600838,
 5600839,
 5600840,
 5600841,
 5600842,
 5600843,
 5600844,
 5600845,
 5600846,
 5600847,
 5600848,
 5600849,
 5600850,
 5600851,
 5600852,
 5600853,
 5600854,
 5600855,
 5600856,
 5600857,
 5600858,
 5600859,
 5600860,
 5600861,
 5600862,
 5600863,
 5600864,
 5600865,
 5600866,
 5600867,
 5600868,
 5600869,
 5600870,
 5600871,
 5600872,
 5600873,
 5600874,
 5600875,
 5600876,
 5600877,
 5600878,
 5600879,
 5600880,
 5600881,
 5600882,
 5600883,
 5600884,
 5600885,
 5600886,
 5600887,
 5600888,
 5600889,
 5600890,
 5600891,
 5600892,
 5600893,
 5600894,
 5600895,
 5600896,
 5600897,
 5600898,
 5600899,
 5600900,
 5600901,
 5600902,
 5600903,
 5600904,
 5600905,
 5600906,
 5600907,
 5600908,
 5600909,
 5600910,
 5600911,
 5600912,
 5600913,
 5600914,
 5600915,
 5600916,
 5600917,
 5600918,
 5600919,
 5600920,
 5600921,
 5600922,
 5600923,
 5600924,
 5600925,
 5600926,
 5600927,
 5600928,
 5600929,
 5600930,
 5600931,
 5600932,
 5600933,
 5600934,
 5600935,
 5600936,
 5600937,
 5600938,
 5600939,
 5600940,
 5600941,
 5600942,
 5600943,
 5600944,
 5600945,
 5600946,
 5600947,
 5600948,
 5600949,
 5600950,
 5600951,
 5600952,
 5600953,
 5600954,
 5600955,
 5600956,
 5600957,
 5600958,
 5600959,
 5600960,
 5600961,
 5600962,
 5600963,
 5600964,
 5600965,
 5600966,
 5600967,
 5600968,
 5600969,
 5600970,
 5600971,
 5600972,
 5600973,
 5600974,
 5600975,
 5600976,
 5600977,
 5600978,
 5600979,
 5600980,
 5600981,
 5600982,
 5600983,
 5600984,
 5600985,
 5600986,
 5600987,
 5600988,
 5600989,
 5600990,
 5600991,
 5600992,
 5600993,
 5600994,
 5600995,
 5600996,
 5600997,
 5600998,
 5600999,
 ...]